@mixin font($fam, $style, $weight, $size,$color) {
  font-family: $fam;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}
.login_wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;

  .login_side_image {
    width: 40%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    img {
      width: calc(60% + 100px);
      height: calc(60% + 100px);
    }
    div {
      padding-left: 10%;
      width: calc(60% + 100px);
      @include font('Poppins',normal ,400 ,20px,#0E0033 );
      span {
        @include font('Poppins',normal ,700 ,28px,#0E0033 );
      }
    }
  }

  .log_in_form_wrapper {
    width: 60%;
    min-height: 100vh;
    background-color: #160051;
    display: flex;
    flex-direction: column;
    align-items: center;

    .log_in_form {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 60px;
      .login_text{
        @include font('Poppins',normal ,600 ,56px,#FFFFFF )
      }
      form {
        width: 100%;
      }
      div:nth-child(1) {
        margin-top: 2rem;
        font-weight: 500;
        width: 100%;
        // text-align: center;
        font-size: 30px;
      }
      .login_input_wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 30px 0px 0px 0px;
        .password_container {    
          .password_icon {
            padding: 10px;
            min-width: 40px;
            position: absolute;
            left: 82%;
          }

        }
        label {
          color: white;
          font-size: 16px;
          font-weight: 500;
        }
        input {
          width: 100%;
          height: 40px;
          background-color: white;
          border-radius: 5px;
          padding-left: 10px;
          font-size: 13px;
          &:focus {
            outline: none;
            border: 1px solid rgb(56, 125, 222);
          }
          &::placeholder {
            font-size: 13px;
          }
        }
        .info-error {
          border: 1px solid #ff0000;
        }
        .error {
          font-weight: 500;
          font-size: 13px;
          line-height: 15px;
          color: #ff0000;
          margin-top: 3px;
        }
      }
      .form_check {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        width: 100%;
        margin-top: 10px;

        p {
          font-size: 12px;
        }
        span {
          font-size: 12px;
        }
        svg {
          color: white;
        }
      }
      .btn-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
          color: white;
          border-color: white;
          text-transform: capitalize;
          margin-top: 10px;
        }
        h6 {
          color: white;
          font-size: 15px;
          margin-top: 10px;
        }
        div {
          display: flex;
          // justify-content: space-between;
          flex-direction: column;
          align-items: center;
          width: 100%;
          button {
            text-transform: capitalize;
            font-size: 12px;
            height: 45px;
            background-color: white;
            color: #160051;
            width: 180px;
            margin-right: 5px;
            &:hover {
              background-color: rgb(242, 185, 234);
            }
            img {
              margin-right: 5px;
              width: 20px;
            }
          }
        }
        .login_link {
          color: white;
          font-size: 12px;
          margin: 20px 0px 20px 0px;
          span {
            color: violet;
            cursor: pointer;
          }
        }
      }
    }
    footer {
      width: 100%;
      display: none;
      color: white;
      align-items: center;
      padding-left: 10px;
      margin-top: 30px;
      hr {
        color: rgba(255, 255, 255, 0.356);
        height: 100px;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.356);
        margin: 0px 10px;
      }
      div {
        p:nth-child(1) {
          font-size: 25px;
          font-weight: 700;
        }
        p:nth-child(2) {
          font-size: 15px;
          font-weight: 200;
        }
        svg {
          color: rgba(255, 255, 255, 0.356);
          margin: 0px 0px 0px 20px;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            color: violet;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .login_wrapper {
    .login_side_image {
      width: 0%;
    }
    .log_in_form_wrapper {
      footer {
        display: flex;
      }
      width: 100%;
      .log_in_form {
        width: 80%;
        .login_input_wrapper{
          .password_container{
            .password_icon{
              left: 80%;
            }
          }
        }
        .btn-wrapper {
          div {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}
