.login_wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login_wrapper .login_side_image {
  width: 40%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.login_wrapper .login_side_image img {
  width: calc(60% + 100px);
  height: calc(60% + 100px);
}

.login_wrapper .login_side_image div {
  padding-left: 10%;
  width: calc(60% + 100px);
}

.login_wrapper .login_side_image div span {
  font-weight: 800;
  font-size: 20px;
}

.login_wrapper .log_in_form_wrapper {
  width: 60%;
  min-height: 100vh;
  background-color: #160051;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_wrapper .log_in_form_wrapper .log_in_form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 60px;
}

.login_wrapper .log_in_form_wrapper .log_in_form form {
  width: 100%;
}

.login_wrapper .log_in_form_wrapper .log_in_form div:nth-child(1) {
  margin-top: 2rem;
  font-weight: 500;
  width: 100%;
  font-size: 30px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .login_input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 30px 0px 0px 0px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .login_input_wrapper label {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.login_wrapper .log_in_form_wrapper .log_in_form .login_input_wrapper input {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 13px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .login_input_wrapper input:focus {
  outline: none;
  border: 1px solid #387dde;
}

.login_wrapper .log_in_form_wrapper .log_in_form .login_input_wrapper input::-webkit-input-placeholder {
  font-size: 13px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .login_input_wrapper input:-ms-input-placeholder {
  font-size: 13px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .login_input_wrapper input::-ms-input-placeholder {
  font-size: 13px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .login_input_wrapper input::placeholder {
  font-size: 13px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .login_input_wrapper .info-error {
  border: 1px solid #ff0000;
}

.login_wrapper .log_in_form_wrapper .log_in_form .login_input_wrapper .error {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #ff0000;
  margin-top: 3px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .form_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 100%;
}

.login_wrapper .log_in_form_wrapper .log_in_form .form_check p {
  font-size: 12px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .form_check span {
  font-size: 12px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .form_check svg {
  color: white;
}

.login_wrapper .log_in_form_wrapper .log_in_form .btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_wrapper .log_in_form_wrapper .log_in_form .btn-wrapper button {
  color: white;
  border-color: white;
  text-transform: capitalize;
  margin-top: 10px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .btn-wrapper h6 {
  color: white;
  font-size: 15px;
  margin-top: 10px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .btn-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.login_wrapper .log_in_form_wrapper .log_in_form .btn-wrapper div button {
  text-transform: capitalize;
  font-size: 12px;
  height: 45px;
  background-color: white;
  color: #160051;
  width: 180px;
  margin-right: 5px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .btn-wrapper div button:hover {
  background-color: #f2b9ea;
}

.login_wrapper .log_in_form_wrapper .log_in_form .btn-wrapper div button img {
  margin-right: 5px;
  width: 20px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .btn-wrapper .login_link {
  color: white;
  font-size: 12px;
  margin: 20px 0px 20px 0px;
}

.login_wrapper .log_in_form_wrapper .log_in_form .btn-wrapper .login_link span {
  color: violet;
  cursor: pointer;
}

.login_wrapper .log_in_form_wrapper footer {
  width: 100%;
  display: none;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  margin-top: 30px;
}

.login_wrapper .log_in_form_wrapper footer hr {
  color: rgba(255, 255, 255, 0.356);
  height: 100px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.356);
  margin: 0px 10px;
}

.login_wrapper .log_in_form_wrapper footer div p:nth-child(1) {
  font-size: 25px;
  font-weight: 700;
}

.login_wrapper .log_in_form_wrapper footer div p:nth-child(2) {
  font-size: 15px;
  font-weight: 200;
}

.login_wrapper .log_in_form_wrapper footer div svg {
  color: rgba(255, 255, 255, 0.356);
  margin: 0px 0px 0px 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login_wrapper .log_in_form_wrapper footer div svg:hover {
  color: violet;
}

@media (max-width: 1000px) {
  .login_wrapper .login_side_image {
    width: 0%;
  }
  .login_wrapper .log_in_form_wrapper {
    width: 100%;
  }
  .login_wrapper .log_in_form_wrapper footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login_wrapper .log_in_form_wrapper .log_in_form {
    width: 80%;
  }
  .login_wrapper .log_in_form_wrapper .log_in_form .btn-wrapper div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=Login.css.map */