.forgot-password-card-content {
  text-align: center;
  .password-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    margin: 10px 0px;
  }
  .congrats-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
  }
}
