.dashboard {
  margin: 40px 20px 0px 20px;
}

.dashboard .dashboard-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.dashboard .dashboard-top .dashboard-top-greeting .greeting-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  color: #080e19;
}

.dashboard .dashboard-top .dashboard-top-greeting .greeting-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.dashboard .dashboard-top .dashboard-top-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dashboard .dashboard-top .dashboard-top-icons img {
  width: 24px;
  margin: 0px 5px;
}

.dashboard .dashboard-card {
  width: 100%;
  margin: 30px 0px;
}

.dashboard .dashboard-card .card-wrapper {
  background: #ffffff;
  border: 1px solid #e7e8f2;
  border-radius: 10px;
  margin: 0px !important;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px;
  height: 143.36px;
}

.dashboard .dashboard-card .card-wrapper .card-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #080e19;
}

.dashboard .dashboard-card .card-wrapper .card-value .card-cash {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #35197f;
  margin-right: 10px;
}

.dashboard .dashboard-card .card-wrapper .card-value .increase {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #35197f;
  color: #15803d;
}

.dashboard .dashboard-card .card-wrapper .card-value .decrease {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #35197f;
  color: #dc2626;
}

.dashboard .dashboard-card .card-wrapper .card-comparison {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12.7648px;
  color: #000000;
}

.dashboard .dashboard-reports-analytics .wrapper {
  background: #ffffff;
  border: 1px solid #e7e8f2;
  border-radius: 10px;
  margin: 0px !important;
  width: 100%;
  height: 299px;
  padding: 16px 24px;
}

.dashboard .dashboard-reports-analytics .wrapper .reports-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.dashboard .dashboard-reports-analytics .wrapper .reports-top .reports-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #080e19;
}

.dashboard .dashboard-reports-analytics .wrapper .reports-chart img {
  width: 750px;
  height: 194px;
}

.dashboard .dashboard-reports-analytics .wrapper .pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .dashboard-reports-analytics .wrapper .pie img {
  width: 150.1px;
  margin-top: 10px;
}
/*# sourceMappingURL=Dashboard.css.map */