.reset-password-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
  
    .reset-password-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        width: 100%;
      }
      .reset-password-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h2,
      p {
        color: white;
      }
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        .info-error {
          border: 1px solid #ff0000;
        }
        .error {
          font-weight: 500;
          font-size: 13px;
          line-height: 15px;
          color: #ff0000;
          margin-top: 3px;
        }
        label {
          color: white;
          font-size: 12px;
          margin-bottom: 5px;
          margin-top: 10px;
        }
  
        input {
          height: 30px;
          padding: 0px 10px;
          font-size: 12px;
          border-radius: 5px;
        }
        div {
          display: flex;
          justify-content: center;
          margin-top: 20px;
  
          button {
            width: 100px;
            color: white;
            border-color: white;
            text-transform: capitalize;
          }
        }
      }
    }
  }
  