.signup_wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup_wrapper .signup_side_image {
  width: 40%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup_wrapper .signup_side_image img {
  width: 60%;
  height: 70%;
}

.signup_wrapper .signup_side_image div {
  padding-left: 10%;
  width: 60%;
}

.signup_wrapper .signup_side_image div span {
  font-weight: 800;
  font-size: 20px;
}

.signup_wrapper .sign_up_form_wrapper {
  width: 60%;
  min-height: 100vh;
  background-color: #160051;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form div:nth-child(1) {
  margin-top: 2rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .signup_input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 30px 0px 0px 0px;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .signup_input_wrapper label {
  color: white;
  font-size: 12px;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .signup_input_wrapper input {
  width: 100%;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .signup_input_wrapper ::-webkit-input-placeholder {
  font-size: 13px;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .signup_input_wrapper :-ms-input-placeholder {
  font-size: 13px;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .signup_input_wrapper ::-ms-input-placeholder {
  font-size: 13px;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .signup_input_wrapper ::placeholder {
  font-size: 13px;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .form_check span {
  font-size: 12px;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .form_check svg {
  color: white;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup_wrapper .sign_up_form_wrapper .sign_up_form .btn-wrapper button {
  color: white;
  border-color: white;
}
/*# sourceMappingURL=Signup.css.map */